/*
* ----------------------
* INITIALIZE
* ----------------------
*/

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: sans-serif;
  line-height: 1.4;
  font-size: 1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

a:active,
a:hover {
  outline: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
optgroup,
textarea,
select {
  font: inherit;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context (React)*/
#root,
#__next {
  isolation: isolate;
}

/*
* ----------------------
* DarkMode
* ----------------------
*/

:root {
  /* Colors */
  --clr-light: hsl(210, 8%, 95%);
  --shdw-light: 210deg 8% 95%;
  --clr-dark: hsl(205, 35%, 10%);
  --shdw-dark: 205deg 35% 10%;

  --blue-primary: hsl(195, 95%, 55%);
  --blue-secondary: hsl(200, 100%, 35%);
  --blue-third: hsl(190, 90%, 90%);

  --green-primary: hsl(100, 35%, 50%);
  --green-secondary: hsl(100, 25%, 35%);
  --green-third: hsl(95, 70%, 90%);

  --yellow-msg: hsl(60, 90%, 55%);
  --orange-msg: hsl(30, 90%, 55%);
  --red-msg: hsl(0, 90%, 55%);

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  /* Animations */
  --timing03: 300ms;
  --timing05: 500ms;
  --timing1: 1s;

  /* Shadows */
  --shadow-color: var(--shdw-dark);
  --shadow-elevation-low: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.46),
    0.6px 0.8px 1.1px -1.5px hsl(var(--shadow-color) / 0.4),
    1.4px 2.1px 2.7px -3px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-lmedium: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.48),
    1px 1.5px 1.9px -1px hsl(var(--shadow-color) / 0.44),
    2.8px 4px 5.1px -2px hsl(var(--shadow-color) / 0.4),
    3.5px 5px 6.5px -3px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-medium: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.48),
    1px 1.5px 1.9px -1px hsl(var(--shadow-color) / 0.44),
    2.8px 4px 5.1px -2px hsl(var(--shadow-color) / 0.4),
    7.1px 10.3px 13.1px -3px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.44),
    1.8px 2.6px 3.3px -0.4px hsl(var(--shadow-color) / 0.43),
    3.4px 5px 6.3px -0.9px hsl(var(--shadow-color) / 0.41),
    5.9px 8.6px 11px -1.3px hsl(var(--shadow-color) / 0.39),
    9.9px 14.4px 18.3px -1.7px hsl(var(--shadow-color) / 0.37),
    16px 23.2px 29.6px -2.1px hsl(var(--shadow-color) / 0.35),
    24.9px 36.1px 46px -2.6px hsl(var(--shadow-color) / 0.33),
    37.1px 53.8px 68.6px -3px hsl(var(--shadow-color) / 0.31);
}

.darkmode {
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  --shadow-color: var(--shdw-light);

  --blue-primary: hsl(200, 100%, 35%);
  --blue-secondary: hsl(195, 95%, 55%);

  --green-primary: hsl(100, 25%, 35%);
  --green-secondary: hsl(100, 35%, 50%);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.container,
.DM {
  position: absolute;
  z-index: 100;
  top: -3.25rem;
  right: 0.75rem;
  width: 3rem;
  height: 3.25rem;
  background-color: var(--foreground);
  border-radius: 0 0 1.5rem 1.5rem;
  animation: dm-animation var(--timing05) linear var(--timing1) forwards;
  transition: var(--timing05);

  &:hover {
    box-shadow: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.48),
      1px 1.5px 1.9px -1px hsl(var(--shadow-color) / 0.44),
      2.8px 4px 5.1px -2px hsl(var(--shadow-color) / 0.4),
      3.5px 5px 6.5px -3px hsl(var(--shadow-color) / 0.36);
  }
}

@keyframes dm-animation {
  75% {
    transform: translateY(3.25rem);
    border-radius: 0 0 1.375rem 1.375rem;
  }
  80% {
    transform: translateY(3rem);
    border-radius: 0 0 1.25rem 1.25rem;
  }
  90% {
    transform: translateY(3.25rem);
    border-radius: 0 0 1.375rem 1.375rem;
  }
  100% {
    transform: translateY(3rem);
  }
}

#dark-mode-toggle {
  display: block;
  color: var(--background);
  padding: 4px;
  background: transparent;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: none;
  margin: 0.75rem auto 0;
  
  &:hover{
    transform: scale(1.05);
    filter: drop-shadow(0 0 .15rem var(--background));
  }
}

#sun {
  display: none;
}

/*
* ----------------------
* Playground
* ----------------------
*/

/*React 1st Div*/
#root {
  margin: 0 2rem;
}

a {
  padding: 5px 10px;
  color: var(--blue-secondary);
  border-radius: 0.5rem;
  transition: var(--timing03) ease-in-out;

  &:hover {
    background-color: var(--blue-third);
    box-shadow: 0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.46),
      0.6px 0.8px 1.1px -1.5px hsl(var(--shadow-color) / 0.4),
      1.4px 2.1px 2.7px -3px hsl(var(--shadow-color) / 0.35);
  }
}

.active {
  color: var(--blue-primary);
}

/*
* ----------------------
* Main Button
* ----------------------
*/

/* Form Button */
@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}

form button {
  cursor: pointer;
  color: var(--clr-dark);
  text-shadow: 0 0 1px white;
  font-size: 1.5rem;
  font-weight: bold;
  text-indent: 55%;
  width: 40%;
  padding: 0.5rem 1rem;
  border-radius: 25rem;
  margin: 1.5rem 0 1.5rem 40%;
  
  animation: spin 3s infinite linear paused;
  border: 0.25rem solid transparent;
  background: linear-gradient(
        to left,
        var(--blue-third) 0%,
        var(--blue-third) 50%,
        var(--green-third) 50%
      )
      padding-box,
    conic-gradient(
        from var(--bg-angle) at 50% 50%,
        var(--blue-secondary) 0%,
        var(--blue-primary) 50%,
        var(--blue-secondary) 50%,
        var(--blue-primary) 100%
      )
      border-box;
  box-shadow: inset 0px -2px 6px var(--clr-dark);
  transition: var(--timing03) ease-in;
  
  &:hover {
    animation-play-state: running;
    transform: scale(1.05);
    box-shadow: inset 0px -2px 6px var(--clr-dark),0.3px 0.5px 0.6px hsl(var(--shadow-color) / 0.48),
    1px 1.5px 1.9px -1px hsl(var(--shadow-color) / 0.44),
    2.8px 4px 5.1px -2px hsl(var(--shadow-color) / 0.4),
    7.1px 10.3px 13.1px -3px hsl(var(--shadow-color) / 0.36);
  }
}

/*
* ----------------------
* Forms
* ----------------------
*/

form {
  width: 50%;
}

form,
label,
input,
select,
textarea {
  display: block;
  border-radius: 0.75rem;
}

label {
  padding-left: 1rem;
  margin-top: 1rem;
}

input,
select,
textarea {
  width: 80%;
  padding: 0.5rem 1rem;
  border: 0.125rem solid var(--blue-primary);

  &:focus {
    outline: transparent;
    border: 0.125rem solid var(--blue-third);
  }
}
