/*
* ----------------------
* INITIALIZE
* ----------------------
*/

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: sans-serif;
  line-height: 1.4;
  font-size: 1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
optgroup,
textarea,
select {
  font: inherit;
  margin: 0;
}

ul {
  list-style-type: none;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context (React)*/
#root,
#__next {
  isolation: isolate;
}


/*
* ----------------------
* DarkMode
* ----------------------
*/

:root {
  --clr-light: hsl(210, 32%, 95%);
  --clr-dark: hsl(210, 68%, 05%);

  --foreground: var(--clr-dark);
  --background: var(--clr-light);
}

.darkmode {
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
}

#dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}


/*
* ----------------------
* Playground
* ----------------------
*/
#root {
  margin: 0 2rem;
}

a {
  padding: 0 5px;
}

.active {
  color: red;
}
