@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,200;1,300;1,400;1,600&family=Sofia+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");

/*
* ----------------------
* INITIALIZE
* ----------------------
*/

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: sans-serif;
  line-height: 1.5;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

a:active,
a:hover {
  outline: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: help;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  shape-margin: 1rem;
  /*if lowres picture are first loaded*/
  /* background-repeat: no-repeat;
  background-size: cover; */
}

button,
input,
optgroup,
textarea,
select {
  font: inherit;
  margin: 0;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

/* Create a root stacking context (React)*/
#root,
#__next {
  isolation: isolate;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
* ----------------------
* Project Settings
* ----------------------
*/

:root {
  /* Fonts */
  --ft-Headings: "Sofia Sans", sans-serif;
  --ft-Texte: "Poppins", sans-serif;

  --fs-300: clamp(0.75rem, calc(0.75rem + 0.08vw), 0.875rem);
  --fs-400: clamp(1rem, calc(0.75rem + 0.24vw), 1.375rem);
  --fs-500: clamp(1.25rem, calc(1rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.5rem, calc(1.25rem + 1.24vw), 2rem);
  --fs-700: clamp(1.75rem, calc(1.5rem + 2.03vw), 3rem);
  --fs-800: clamp(2rem, calc(1.75rem + 3.15vw), 4rem);
  --fs-900: clamp(3rem, calc(2rem + 4.74vw), 5rem);

  /* Colors */
  --clr-light: hsl(220 10% 95%);
  --clr-medium: hsl(220 10% 30%);
  --clr-dark: hsl(220 10% 12%);

  --clr-blue: hsl(193 90% 45%);
  --clr-blue-medium: hsl(193 90% 23%);

  --clr-green: hsl(157 95% 45%);
  --clr-green-medium: hsl(157 95% 23%);

  --info-msg: hsl(290 55% 50%);
  --ok-msg: hsl(70 55% 50%);
  --careful-msg: hsl(35 55% 50%);
  --danger-msg: hsl(0 55% 50%);

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --hamburger-width: 2rem;
  --hamburger-margin: 1rem;

  --header-height: 4rem;

  /* Animations */
  --timing03: 300ms;
  --timing05: 500ms;
  --timing06: 600ms;
  --timing09: 900ms;
  --timing1: 1s;

  /* Shadows */
  --shadow-color: 220 10% 0%;
  --shadow-elevation-low: 0.3px 0.6px 0.7px hsl(var(--shadow-color) / 0.46),
    1px 2px 2.3px -1px hsl(var(--shadow-color) / 0.4),
    1.3px 2.7px 3.1px -3px hsl(var(--shadow-color) / 0.35);
  --shadow-elevation-medium: 0.3px 0.6px 0.7px hsl(var(--shadow-color) / 0.48),
    1px 2px 2.3px -1px hsl(var(--shadow-color) / 0.44),
    2.6px 5.3px 6.2px -2px hsl(var(--shadow-color) / 0.4);
  --shadow-elevation-high: 0.3px 0.6px 0.7px hsl(var(--shadow-color) / 0.44),
    1.7px 3.4px 4px -0.4px hsl(var(--shadow-color) / 0.43),
    3.2px 6.5px 7.6px -0.9px hsl(var(--shadow-color) / 0.41),
    5.6px 11.2px 13.1px -1.3px hsl(var(--shadow-color) / 0.37);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--ft-Texte);
  font-size: var(--fs-400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ft-Headings);
  line-height: 1.05;
}

h1 {
  font-size: var(--fs-900);
}

h2 {
  font-size: var(--fs-800);
}

h3 {
  font-size: var(--fs-700);
  margin-block: 2rem;
}

h4 {
  font-size: var(--fs-600);
}

h5 {
  font-weight: bold;
}

h5,
h6 {
  font-size: var(--fs-500);
}

button {
  font-family: var(--ft-Headings);
}

.capitalize {
  text-transform: capitalize;
}

/*
* ----------------------
* Layout
* ----------------------
*/

.container {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: clamp(50ch, 100% - var(--gap) * 2, 80%);
  --popout: minmax(0, 2rem);
  --breakout: minmax(0, 5rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [breakout-start] var(--breakout)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--breakout) [breakout-end]
    var(--full) [full-end];
}

.container > * {
  grid-column: content;
}

.popout {
  grid-column: popout;
}

.breakout {
  grid-column: breakout;
}

.full {
  grid-column: full;
}

/*
* ----------------------
* DarkMode and Languages
* ----------------------
*/

.darkmode {
  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  --clr-medium: hsl(220, 10%, 77%);
  --clr-blue-medium: hsl(193, 90%, 77%);
  --clr-green-medium: hsl(157, 95%, 77%);
}

.containerToggle {
  position: fixed;
  top: -2.5rem;
  z-index: 100;
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--foreground);
  background: var(--background);
  border-radius: 1.5rem 0 1.5rem 1.5rem;
  transition: var(--timing05) ease-in-out;

  &:hover {
    box-shadow: var(--shadow-elevation-medium);
  }
}

.containerToggle.DM {
  right: 0.5rem;
  animation: onglet-animation var(--timing05) linear calc(var(--timing05) * 2.5)
    forwards;
}

.containerToggle.lang {
  right: 3.5rem;
  animation: onglet-animation var(--timing05) linear calc(var(--timing05) * 2)
    forwards;
}

@keyframes onglet-animation {
  75%,
  90% {
    transform: translateY(3.25rem);
    border-radius: 1.5rem 0rem 1.375rem 1.375rem;
  }
  80% {
    border-radius: 1.5rem 0rem 1.125rem 1.125rem;
  }

  80%,
  100% {
    transform: translateY(3rem);
  }
}

#dark-mode-toggle,
#languageBtn {
  cursor: pointer;
  display: block;
  color: var(--foreground);
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  line-height: 1;
  background: transparent;
  border: none;
  border-radius: 1.5rem 0 1.5rem 1.5rem;
  transition: var(--timing03) ease-in-out;
  padding: 0.125rem;
  margin: 0;

  &:hover {
    transform: scale(1.1);
    color: var(--background);
    fill: var(--background);
    background: var(--foreground);
    border: 0.125rem solid var(--background);
  }
}

#languageBtn {
  margin-top: 0.0625rem;
}

#sun {
  display: none;
}

/*/////////////////////////////////
Overflow and scrollbar */
.scroll-ok {
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100rem;
  background: var(--clr-blue-medium);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset -0.125rem -0.125rem 0.125rem var(--clr-blue-medium);
  background: var(--clr-blue);
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*
* ----------------------
* LinkssssssssSSSSSSSS
* ----------------------
*/

/*navbar links*/
.neonText {
  margin: 2rem 0 0;
  color: var(--background);
  text-shadow: 0 0 5px var(--foreground), 0 0 10px var(--clr-blue),
    0 0 25px var(--clr-blue);

  &:hover {
    text-shadow: none;
  }

  &:active {
    color: var(--clr-blue);
  }
}

a.active .neonText::before,
a.active .neonText::after {
  content: " ✱ ";
  color: var(--clr-blue);
  font-size: x-large;
  vertical-align: middle;
}

/*classic*/
a.style-one {
  color: var(--clr-blue);
  padding: 0.125rem 0.5rem;
  transition: var(--timing03) ease-in-out;

  &:visited {
    color: var(--clr-blue);
  }

  &:hover {
    color: var(--clr-blue);
    border-radius: 1rem;
    border-bottom: 1px solid var(--clr-blue);
  }

  &::after {
    content: "*";
    color: transparent;
  }
  &:hover::after {
    content: "*";
    color: var(--clr-blue);
  }
}

a.style-one:active {
  color: var(--clr-green-medium);

  &:hover {
    border-bottom: 1px solid var(--clr-green-medium);
  }

  &::after {
    color: var(--clr-green-medium);
    content: "*";
  }
}

/*
* ----------------------
* ButtonssssssssSSSSSSSS
* ----------------------
*/

/* Form Button */
@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}

form button {
  cursor: pointer;
  color: var(--clr-light);
  font-size: var(--fs-500);
  text-align: center;
  text-indent: 0rem;
  font-weight: bold;
  width: 40%;
  padding: 0.5rem 1rem;
  border-radius: 25rem;
  float: right;
  margin: 1.5rem 0 1.5rem;
  text-shadow: 0px 0px 3px var(--clr-dark);
  animation: spin 3s infinite linear paused;
  border: 0.25rem solid transparent;
  background: linear-gradient(
        to left,
        var(--clr-blue) 0%,
        var(--clr-blue) 49.5%,
        var(--clr-blue-medium) 50%,
        var(--clr-blue) 50.5%,
        var(--clr-blue) 100%
      )
      padding-box,
    conic-gradient(
        from var(--bg-angle) at 50% 50%,
        var(--clr-blue-medium) 0%,
        var(--clr-blue) 50%,
        var(--clr-blue-medium) 50%,
        var(--clr-blue) 100%
      )
      border-box;
  box-shadow: inset 2px 2px 6px var(--clr-light),
    inset -2px -2px 6px var(--clr-dark);
  transition: var(--timing03) ease-in-out;

  &:hover {
    animation-play-state: running;
    transform: scale(1.05);
    box-shadow: inset 2.1px 2.1px 6.3px var(--clr-light),
      inset -2.1px -2.1px 6.3px var(--clr-dark), var(--shadow-elevation-high);
  }

  &:active {
    box-shadow: inset 2.1px 2.1px 6.3px var(--clr-dark),
      inset -1px -1px 4px var(--clr-light), var(--shadow-elevation-high);
    text-shadow: 0px 0px 3px var(--clr-light), 2.1px 2.1px 6.3px var(--clr-dark);
  }
}

/*
* ----------------------
* Forms
* ----------------------
*/
form {
  width: clamp(200px, 100%, 750px);
  text-indent: 0.5rem;
  padding: 1rem;
  margin: 0 auto;
}

label,
input,
select,
textarea,
optgroup {
  display: block;
  border-radius: 0.5rem;
}

label {
  padding-left: 1rem;
  margin-top: 1rem;
}

input,
select,
textarea,
optgroup {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0.125rem solid var(--clr-blue);
  margin-top: 0.5rem;

  &:focus {
    outline: transparent;
    border: 0.125rem solid var(--clr-blue-medium);
  }
}

input::placeholder {
  color: #909090;
  transform: translate3d(0, 0, 0);
  transition: all var(--timing03) ease-in-out;
}

input:focus::placeholder {
  opacity: 0;
  transform: translate3d(0, -2rem, 0);
}

form span.form-error-msg {
  color: var(--danger-msg);
  padding-left: 1rem;
}

/*
* ----------------------
* Navbar
* ----------------------
*/
/* Header */
header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  z-index: 100;
  backdrop-filter: blur(1rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
  pointer-events: none;
  /*3D effect*/
  text-shadow: 1px 1px 1px var(--clr-blue),
        1px 1px 1px var(--clr-blue),
        1px 2px 1px var(--clr-blue),
        1px 2px 1px var(--clr-blue),
        1px 3px 1px var(--clr-blue),
    1px 6px 3px hsl(220 10% 12% / 0.4),
    1px 8px 5px hsl(220 10% 12% / 0.2),
    1px 10px 17px hsl(220 10% 12% / 0.2),
    1px 12px 30px hsl(220 10% 12% / 0.4);
}

header nav {
  height: 100%;
}

header ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

ul .user-infos {
  color: var(--background);
}

/* Burger Menu */
.hamburger-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -2.5rem;
  left: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  z-index: 100;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 0 50% 50%;
  transition: var(--timing03) ease-in;
  animation: onglet-animation var(--timing05) linear var(--timing05) forwards;
  fill: var(--foreground);
}

.hamburger {
  height: var(--hamburger-width);
  width: var(--hamburger-width);
}

.hamburger-menu .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, rx 300ms ease-in,
    fill 300ms ease-in;
  transform-origin: center;
  fill: var(--foreground);
}

.hamburger-menu .hamburger-middle {
  opacity: 0.5;
}

.hamburger-menu[aria-expanded="true"] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, rx 300ms ease-in,
    fill 300ms ease-in;
  fill: var(--background);
  rx: 0;
}

.hamburger-menu[aria-expanded="true"] :is(.hamburger-top, .hamburger-bottom) {
  y: 45;
}

.hamburger-menu[aria-expanded="true"] .hamburger-top {
  rotate: 205deg;
}

.hamburger-menu[aria-expanded="true"] .hamburger-middle {
  rotate: 270deg;
}

.hamburger-menu[aria-expanded="true"] .hamburger-bottom {
  rotate: 335deg;
}

.hamburger-menu:hover {
  background-color: var(--foreground);
}

.hamburger-menu:hover .line {
  fill: var(--background);
  scale: 1.1;
}

.hamburger-menu:hover .hamburger-middle {
  animation: hamburger-animation calc(var(--timing1) * 2) linear forwards;
}

@keyframes hamburger-animation {
  25%,
  50%,
  75% {
    scale: 1;
  }

  33%,
  66% {
    scale: 1.1;
  }
}

/* background zoom to menu */
.circle-menu {
  background-color: transparent;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  border-radius: 0 50% 50%;
  height: 3rem;
  width: 3rem;
  z-index: 99;
  transition: var(--timing06) ease-in-out;
}

.logout {
  margin-top: 4rem;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 0.125rem solid var(--background);
  border-radius: 0 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 0 5px var(--foreground), 0 0 10px var(--clr-blue),
    0 0 25px var(--clr-blue), inset 0 0 5px var(--foreground),
    inset 0 0 10px var(--clr-blue), inset 0 0 25px var(--clr-blue);

  &:hover {
    box-shadow: none;
  }

  &:active {
    color: var(--clr-blue);
    border: 0.125rem solid var(--clr-blue);
  }
}

.logout .neonText {
  margin: 0;
}

/*
* ----------------------------------------------------------------------------
* Main Main Main Main Main Main Main Main Main Main Main Main Main Main Main 
* ----------------------------------------------------------------------------
*/

main {
  position: relative;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
}

.center-frame {
  /* border: 2px red solid; */
  height: 100%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.align-center {
  align-items: center;
}

.half-frame {
  /* border: 1px solid black; */
  margin: 0 auto;
  width: clamp(350px, 50%, 1000px);
}

.quarter-frame {
  margin: 0 auto;
  width: clamp(175px, 25%, 500px);
}

/*
* ----------------------
* Signup & Login Page
* ----------------------
*/

#home-page {
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#home-page h1 {
  font-size: calc(var(--fs-900) * 1.5);
  line-height: 0.85;
}

#home-page h2:first-of-type {
  margin-top: 1.25rem;
}

#home-page button.scroll-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 500px;
  border: solid 0.125rem;
  padding: 0.75rem 3rem;
  margin: 2.5rem 0 1rem;
  cursor: n-resize;
  background-color: transparent;

  &:hover {
    border: solid 0.125rem var(--clr-blue);
  }

  &:active {
    border: solid 0.125rem var(--clr-green);
  }
}

.scroll-down2 {
  width: 1.5rem;
  height: 2.5rem;
  border: 2px solid var(--clr-blue-medium);
  border-radius: 50px;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0.75rem;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 100%;

    background: var(--clr-blue);
    animation: scrollDown2 1.5s ease infinite;
  }
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0.125rem;
    width: 0.375rem;
    height: 0.75rem;
    border-radius: 0.5rem;
    transform: translateX(-50%);
    background: var(--clr-blue-medium);
  }
}

@keyframes scrollDown2 {
  0% {
    transform: translate(-50%, 0px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, 8px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 16px);
    opacity: 0;
  }
}

/*
* ----------------------
* Signup & Login Page
* ----------------------
*/

#signup,
#login {

}

#login .half-frame,
#signup .half-frame {
  height: max-content;
  border: 1px solid var(--foreground);
  border-radius: 1rem;
  box-shadow: var(--shadow-elevation-medium);
}

/*
* ----------------------
* Department Page
* ----------------------
*/

.dpt-page {
  padding-top: var(--header-height);
}

.dpt-page h3 {
  margin: 0 0 2rem;
}

.all-dpt {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, clamp(350px, 20%, 500px));
  justify-content: center;
  margin-bottom: 4rem;
}

.one-dpt {
  position: relative;
  cursor: pointer;
}

.one-dpt fieldset {
  border: 0.125rem solid var(--foreground);
  height: 8rem;
  transition: var(--timing03) ease-in-out;
  box-shadow: var(--shadow-elevation-low);

  &:hover {
    color: var(--clr-blue);
    background-color: hsl(220 10% 12% / 0.05);
  }

  &:active {
    color: var(--clr-green);
    border: 0.125rem solid var(--clr-green);
  }
}

.one-dpt p {
  color: var(--foreground);
  padding-right: 2.5rem;
}

.one-dpt .dpt-img {
  position: absolute;
  top: 0;
  right: -0.5rem;
  height: 4rem;
  width: 4rem;
  padding: 0.125rem;
  border-radius: 10rem 0 10rem 10rem;
  border: 0.125rem solid var(--foreground);
  background-color: white;
}

.one-dpt img {
  background-color: white;
  object-fit: cover;
  border-radius: 10rem 0 10rem 10rem;
}

/*************** sunitha *******************/
.patient-detail {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.gp-detail,
.user-detail {
  border: 1px solid black;
  text-align: center;
}
.gp-details {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin: 10px;
}
.gp-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-result{
  border: 1px solid black;
  text-align: center;
  width: 40%;
  margin: 10px;
}

.test-navbar {
  font-size: .75rem;
}

.test-navbar ul {
  display: flex;
  flex-direction: row;
}

/* display: flex;
flex-wrap: wrap; */
